
.login-wrapper {
    background: lightblue;
    height: 100%;
  }
  
  .positronx {
    text-decoration: none;
    color: #ffffff;
  }
  
  .box {
    position: relative;
    top: 0;
    opacity: 1;
    float: left;
    background: #fff;
    border-radius: 10px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
  }
  
  .box.back {
    transform: scale(.95);
    -webkit-transform: scale(.95);
    -ms-transform: scale(.95);
    top: -20px;
    opacity: .8;
    z-index: -1;
  }
  
  .login-wrapper .example-form {
    min-width: 100%;
    max-width: 300px;
    width: 100%;
  }
  
  .login-wrapper .example-full-width,
  .login-wrapper .btn-block {
    width: 100%;
    margin-top: 5px;
    margin: 5px;
  }
  
  .login-wrapper mat-card-header {
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 700;
  }
  
  .login-wrapper mat-card-header mat-card-title {
    font-size: 30px;
    margin: 0;
  }
  
  .login-wrapper .mat-card {
    padding: 60px 90px 70px;
    border: 1px solid rgba(73,155,234,1) !important;
  }
  
  .login-wrapper .mat-stroked-button {
    border: 1px solid currentColor;
    line-height: 54px;
    background: #FFF7FA;
  }
  
  .login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.8375em 0;
  }
  
  .form{
    width: 100%;
    margin: 0px;
    margin-top: 20px;
  }

  .mat-form-field{
    margin: 5px;
  }
  
  .danger{
    background: #1abc9c;
    color: blue;
  }