<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Cadastro de Veículos</mat-card-title>
            <section class="section" [hidden]="!cadastrar">
                <mat-slide-toggle class="margin" [checked]="veicle.placaNova" [disabled]="editando"
                    (change)="getMask(!veicle.placaNova)">
                    Placa Mercosul
                </mat-slide-toggle>
            </section>
        </mat-card-header>
        <br>
        <mat-card-content>
            <form class="form" name="veicleForm" [formGroup]="veicleForm" *ngIf="cadastrar">
                <mat-grid-list cols="3" rowHeight="100px">
                    <mat-grid-tile colspan="1" rowspan="1">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Modelo" name="modelo" [(ngModel)]="veicle.modelo"
                                [formControl]="modeloControl" required>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1" rowspan="1">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Cor" name="cor" [(ngModel)]="veicle.cor"
                                [formControl]="corControl" required>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1" rowspan="1">
                        <mat-form-field>
                            <mat-label>Ano</mat-label>
                            <mat-select name="ano" [formControl]="anoControl" [(ngModel)]="veicle.ano" required>
                                <mat-option *ngFor="let ano of anos" [value]="ano">
                                    {{ano}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1" rowspan="1">
                        <mat-form-field>
                            <mat-label>Estado</mat-label>
                            <mat-select name="estado" [formControl]="estadoControl" (selectionChange)="buscarCidades()"
                                [(ngModel)]="veicle.estado">
                                <mat-option *ngFor="let estado of estados" [value]="estado._id">
                                    {{estado.nome}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1" rowspan="1">
                        <mat-form-field>
                            <mat-label>Cidade</mat-label>
                            <mat-select name="cidade" [formControl]="cidadeControl" [(ngModel)]="veicle.cidade">
                                <mat-option *ngFor="let cidade of cidades" [value]="cidade._id">
                                    {{cidade.nome}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1" rowspan="1">
                        <mat-form-field class="full-width">
                            <input matInput style="text-transform: uppercase;"
                                placeholder="Número da Placa: {{mascara}}" name="numeroPlaca"
                                [formControl]="numeroPlacaControl" mask="{{mascara}}" [(ngModel)]="veicle.numeroPlaca"
                                required>
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>

                <mat-grid-list cols="2" rowHeight="100px">
                    <mat-grid-tile colspan="1" rowspan="1">
                        <button mat-stroked-button color="accent" class="btn-block danger"
                            (click)=cancelar()>Cancelar</button>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1" rowspan="1">
                        <button *ngIf="!editando" mat-stroked-button color="accent" class="btn-block sucess"
                            [disabled]="veicleForm.invalid" (click)="salvar()">Salvar</button>

                        <button *ngIf="editando" mat-stroked-button color="accent" class="btn-block sucess"
                            [disabled]="veicleForm.invalid" (click)="salvar()">Editar</button>
                    </mat-grid-tile>
                </mat-grid-list>
            </form>
        </mat-card-content>
        <mat-grid-list *ngIf="pesquisar" cols="3" rowHeight="100px">
            <mat-grid-tile colspan="1" rowspan="1">
                <mat-form-field class="filter">
                    <mat-label>Pesquisar</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Pesquisar">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1">
                <button *ngIf="disableExcluir" mat-stroked-button color="accent" class="btn-block danger2"
                    (click)="excluir()">Excluir</button>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1">
                <button *ngIf="!editando" mat-stroked-button color="accent" class="btn-block sucess2"
                    (click)="adicionar()">Adicionar</button>

                <button *ngIf="editando" mat-stroked-button color="accent" class="btn-block sucess2"
                    (click)="editar()">Editar</button>
            </mat-grid-tile>
        </mat-grid-list>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" *ngIf="pesquisar">
            <ng-container matColumnDef="modelo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Modelo </th>
                <td mat-cell *matCellDef="let element"> {{element.modelo}} </td>
            </ng-container>
            <ng-container matColumnDef="cor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ano </th>
                <td mat-cell *matCellDef="let element"> {{element.ano}} </td>
            </ng-container>
            <ng-container matColumnDef="ano">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cor </th>
                <td mat-cell *matCellDef="let element"> {{element.cor}} </td>
            </ng-container>
            <ng-container matColumnDef="numeroPlaca">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Placa </th>
                <td mat-cell *matCellDef="let element">
                    {{!element.placaNova ? element.numeroPlaca.substring(0,3) + '-' + element.numeroPlaca.substring(3): element.numeroPlaca}}
                </td>
            </ng-container>
            <ng-container matColumnDef="cidade">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cidade </th>
                <td mat-cell *matCellDef="let element"> {{element.cidade}} </td>
            </ng-container>
            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
            </ng-container>
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card>
</div>