<div class="container">
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <mat-card>
                <mat-card-title fxLayoutAlign="center">
                    <p>Total de vagas</p>
                </mat-card-title>
                <mat-card-content fxLayoutAlign="center">
                    <span>80</span>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-title fxLayoutAlign="center">
                    <p>Vagas Ocupadas</p>
                </mat-card-title>
                <mat-card-content fxLayoutAlign="center">
                    <span>50</span>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>