<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Log in</mat-card-title>
        </mat-card-header>

        <form class="form">
            <mat-card-content>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Username">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput placeholder="Password">
                </mat-form-field>
            </mat-card-content>

            <button mat-stroked-button color="accent" class="btn-block" routerLink="/home">Log in</button>
            <button mat-stroked-button color="accent" class="btn-block" routerLink="/register">Register</button>
        </form>
    </mat-card>

</div>