.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .is-mobile .toolbar {
    position: fixed;
    z-index: 2;
  }
  
  h1.app-name {
    margin-left: 8px;
  }
  
  .sidenav-container {
    flex: 1;
  }
  
  .is-mobile .sidenav-container {
    flex: 1 0 auto;
  }
  
  .toolbar-button{
    color: white;
    background-color: transparent;
  }

  .profile-button{
    background-color: transparent;
  }
  .exit-button{
    background-color: transparent;
    margin-left: 20px;
    margin-left: 20px;
  }

  .icon {
    padding: 0 14px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }

  .mat-expansion-panel-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 15px;
    border-radius: inherit;
  }

  .mat-sidenav-container{
    margin-top: 0px !important;
  }

  .mat-nav-list{
    border: 1px solid rgba(73,155,234,1) !important;
  }